<div class="comment clearfix" id="comment-more" data-page="{{camera.comments.currentPageNo}}" data-first="{{camera.comments.first}}" data-last="{{camera.comments.last}}" style="cursor: pointer;">
    <header>
        <div class="comment-meta"></div>
    </header>
    <div class="comment-content">
        <div class="comment-body text-center ">
            <p class="comment-text">더보기 ({{camera.comments.remainderCount}})<i class="fa fa-chevron-down"></i></p>
        </div>
    </div>
</div>