<footer id="footer" class="clearfix light-gray-bg">



    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
        <div class="container">
            <div class="subfooter-inner">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="list-inline mb-20">
                            <li class="list-inline-item"><a href="/policy/terms" class="link-dark">서비스 이용약관</a></li>
                            <li class="list-inline-item"><a href="/policy/operation" class="link-dark">운영 정책</a></li>
                            <li class="list-inline-item"><a href="/policy/privacy" class="link-dark"><strong>개인정보 처리방침</strong></a></li>
                        </ul>

                        <div class="separator"></div>
                        <p class="text-center">Copyright © 2017 The Project by <a target="_blank" href="#">Seolgi</a>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->

</footer>

